//Nubia Balderas Ibarra
// Cosc 1337 
//Homework 1

#include <iostream>
#include <string>
using namespace std;

string myname = "Nubia Balrderas Ibarra";

void message(string name) {
    cout << "My name is " << name << endl;
}

int main(void) {
    message(myname);
